body {
    background-color: beige;
    color: #1d1d1d;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 0px auto;
}

form {

}

input[type=text], input[type=password] {
    border: 1px solid black;
    border-radius: 4px;
}
